body {
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Main {
  height: 1000px;
  background-color: #202027;
}

.Tiny {
  font-size: x-small;
}

.CardHolder {
  padding-left: 10px;
}

.Card {
  width: 190px;
  height: 350px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #151520;
}

.Title {
  color: cyan;
}
